# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\react-projects\Test_Nodejs\Pangolin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
